.centerWrapper{
  max-width:1280px;
  padding:0px 15px;
  box-sizing: border-box;
  margin:0 auto;
}
.outerMainAbout{
  width:100%;
  display:inline-block;
}
.breadcrumb-area.bnrService{
  background-image: url('/Assets/pages/breadcrumb.png');
}
.bannerDataTop{
  width:100%;
  background-image: url('/Assets/pages/BannerHeader.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:567px;
  position: relative;
}
.innerContentBnr{
  width:100%;
  display:inline-block;
  text-align:center;
  margin-top:385px;
}
.innerContentBnr h3{
  color:#fff;
  text-transform:uppercase;
  margin-bottom:10px;
}
.breadcrumb-info ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-info ul li{
  color:#fff;
}
.breadcrumb-item+.breadcrumb-item::before{
  position: relative;
  left: -4px;
}
.bootomArrow{
  position: absolute;
  bottom:-2px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.bootomArrow img{
  color: transparent;
  max-width: 300px;
  cursor: pointer;
}
.formInfoData{
  width:100%;
  display:inline-block;
  padding:100px 0px;
}
.formInfoData h3{
  text-align: center;
  color: #e6bb35;
  font-weight: 600;
  font-size:38px;
  line-height:40px;
  letter-spacing:1px;
  text-transform:uppercase;
}
.formInfoData h2{
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size:44px;
  line-height:50px;
  letter-spacing:1px;
  margin:28px 0px;
  text-transform:uppercase;
}
.formInfoData p{
  color: #565656;
  font-size: 23px;
  text-align: center;
  line-height: 35px;
  margin-top: 40px;
}