.centerWrapper{
  max-width:1280px;
  padding:0px 15px;
  box-sizing: border-box;
  margin:0 auto;
}
.outerMainAbout{
  width:100%;
  display:inline-block;
}
.breadcrumb-area.bnrService{
  background-image: url('/Assets/pages/breadcrumb.png');
}
.bannerDataTop{
  width:100%;
  background-image: url('/Assets/pages/BannerHeader.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:567px;
  position: relative;
}
.innerContentBnr{
  width:100%;
  display:inline-block;
  text-align:center;
  margin-top:385px;
}
.innerContentBnr h3{
  color:#fff;
  text-transform:uppercase;
  margin-bottom:10px;
}
.breadcrumb-info ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-info ul li{
  color:#fff;
}
.breadcrumb-item+.breadcrumb-item::before{
  position: relative;
  left: -4px;
}
.bootomArrow{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.bootomArrow img{
  color: transparent;
  max-width: 300px;
  cursor: pointer;
}