.centerWrapper{
  max-width:1280px;
  padding:0px 15px;
  box-sizing: border-box;
  margin:0 auto;
}
.outerMainAbout{
  width:100%;
  display:inline-block;
}
.breadcrumb-area.bnrService{
  background-image: url('/Assets/pages/breadcrumb.png');
}
.bannerDataTop{
  width:100%;
  background-image: url('/Assets/pages/BannerHeader.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:567px;
  position: relative;
}
.bannerDataTop.piano{
  background-image: url(https://mus-dev-assets.s3.ap-south-1.amazonaws.com/Website/surteerth_header.jpg);
}
.innerContentBnr{
  width:100%;
  display:inline-block;
  text-align:center;
  margin-top:385px;
}
.innerContentBnr h3{
  color:#fff;
  text-transform:uppercase;
  margin-bottom:10px;
}
.breadcrumb-info ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-info ul li{
  color:#fff;
}
.breadcrumb-item+.breadcrumb-item::before{
  position: relative;
  left: -4px;
}
.bootomArrow{
  position: absolute;
  bottom:-2px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.bootomArrow img{
  color: transparent;
  max-width: 300px;
  cursor: pointer;
}
.formInfoData{
  width:100%;
  display:inline-block;
  padding:100px 0px;
}
.formInfoData h3{
  text-align: center;
  color: #e6bb35;
  font-weight: 600;
  font-size:38px;
  line-height:40px;
  letter-spacing:1px;
  text-transform:uppercase;
  margin-bottom:18px;
}
.formInfoData h2{
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size:44px;
  line-height:50px;
  letter-spacing:1px;
  margin:18px 0px;
  text-transform:uppercase;
}
.formInfoData p{
  color: #565656;
  font-size: 23px;
  text-align: left;
  line-height: 35px;
  margin-top:12px;
  text-align:center;
}
.emailInfoData{
  width:100%;
  display:flex;
  align-items:center;
  margin: 65px 0px;
}
.leftDataInfo{
  width:33%;
}
.leftDataInfo h4{
  text-align:center;
  position: relative;
  text-transform:uppercase;
  font-weight:700;
}
.leftDataInfo h4:after{
  content: "";
  position: absolute;
  width: 68px;
  height: 4px;
  background: #e6bb35;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -13px;
}
.formInfoData .leftDataInfo p{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}
.formDataInfo{
  width:100%;
  display:inline-block;
}
.formLabelData{
  width:100%;
  display:flex;
}
.leftFormLabelData{
  width:33%;
  padding-right:30px;
}
.leftFormLabelData:last-child{
  padding:0px;
}
.leftFormLabelData label{
  width:100%;
  text-align:center;
  color:#000;
  font-weight:600;
}
.leftFormLabelData input{
  border:none;
  border-bottom:1px solid #e6bb35;
  width:100%;
  outline:none;
}
.textArea{
  width:100%;
  display:inline-block;
  margin-top:40px;
}
.formLabelData .textArea label{
  width:100%;
  text-align:center;
  color:#000;
  font-weight:600;
}
.formLabelData .textArea textarea{
  border:none;
  border-bottom:1px solid #e6bb35;
  width:100%;
  resize:none;
  min-height:100px;
}
.mapDataInfo{
  width:100%;
  display:inline-block;
  padding-bottom:100px;
}
.mapDataInfo iframe{
  width:100%;
  min-height:350px;
}
.mapDataInfo img{
  max-width:100%;
  width:100%;
}
.slideDataInfoBottom{
  width:100%;
  display:flex;
  padding-bottom:40px;
}
.leftInfoImgData{
  width:25%;
  padding-right:25px;
  box-sizing: border-box;
}
.leftInfoImgData:last-child{
  padding:0px;
}
.leftInfoImgData img{
  width: 100%;
  height: 250px;
  object-fit:fill;
}
.ourServiceBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.serviceCard{
  width: 32%;
  background:#e4bc38;
  padding:0px 0px 63px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 2px 9.8px 9px rgba(0,0,0,.1);
  margin-bottom: 26px;
}
.serviceCard h3{
  position: relative;
  text-align:center;
  color:#fff;
  font-weight:700;
  font-size:30px;
  text-transform:uppercase;
  margin-top:30px;
}
.formInfoData .serviceCard p{
  color:#fff;
  font-size:16px;
  line-height:25px;
  margin:30px 0px;
  padding:0px 50px;
  text-align:center;
}
.serviceCard ul{
  list-style-position: inside;
}
.serviceCard ul li{
  color:#fff;
  font-size: 16px;
}
.serviceCard button{
   width: 100%;
   background:none;
   color:#fff;
   position: relative;
   margin:16px 0px 16px;
   border:none;
   font-size:20px;
}
.serviceCard button:after{
  content: "";
  position: absolute;
  width: 68px;
  height: 4px;
  background: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -13px;
}
.priceInfo{
  padding: 25px 0px 0px;
  border-top: 1px solid #fff;
  margin-top: 33px;
}
.formInfoData .serviceCard .priceInfo p{
  margin:0px;
  display: inline-block;
  padding: 0 10px;
  border-left:1px solid #fff;
}
.formInfoData .serviceCard .priceInfo p:first-child{
  border:none;
}
.courceBanner{
  width: 100%;
  background-image: url(https://mus-dev-assets.s3.ap-south-1.amazonaws.com/Website/studentSays_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 472px;
  position: relative;
}
.outerMainHome .formInfoData p{
  text-align:center;
}
.outerInfoCnt img{
  height:100%;
}
.innerContentCource{
  width:100%;
  display:inline-block;
  text-align:center;
  margin-top: 100px;
}
.innerContentCource h3{
  text-transform:uppercase;
  font-size:28px;
  color:#fff;
  line-height:30px;
  font-weight:700;
}
.innerContentCource h2{
  text-transform:uppercase;
  font-size:35px;
  color:#fff;
  line-height:40px;
  font-weight:700;
  margin: 12px 0px;
}
.innerContentCource p{
  color:#fff;
}
.sliderTest{
  width:100%;
  display:inline-block;
  margin-top:35px;
}
.viewAllInfo{
  width:100%;
  display:inline-block;
  text-align:center;
  margin-top:30px;
}
.viewAllInfo button{
  position: relative;
  background-color:none;
  border:none;
  font-weight:600;
  font-size:20px;
  background:none;
}
.viewAllInfo button:after{
  content: "";
  position: absolute;
  width:50px;
  height: 4px;
  background: #e6bb35;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -10px;
}
.sliderDataMain.video .sliderDataMainInner{
  padding:0px;
  position: relative;
}
.sliderDataMain.video .sliderDataMainInner img{
  margin:0px !important;
}
.sliderDataMain.video .sliderDataMainInner h6{
 color:#e6bb35;
 margin:40px 0px 10px;
 font-weight:600;
}
.sliderDataMain.video .sliderDataMainInner h4{
  color:#000;
  font-size:24px;
  font-weight:600;
  padding: 30px;
}
.sliderDataMain.video .sliderDataMainInner button{
  background:none;
  border:none;
  color:#000;
  font-weight:600;
  margin-top:50px;
  margin-bottom:80px;
  font-size:20px;
  font-weight:600;
}
.videoPlayNew{
  width:100%;
  display:inline-block;
  text-align:center;
}
.videoPlayNew img{
max-width:800px;
}
.innerContentBnr.home{
  margin-top:420px;
}
.innerContentBnr.home h1{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
}
.innerContentBnr.home p{
  color:#fff;
  text-align:center;
}
.innerContentBnr.home button.readmore{
  background:none;
  color:#fff;
  text-align:center;
  text-transform:uppercase;
  font-weight:600;
  position: relative;
  border:none;
  font-size:20px;
  margin-top:30px;
}
.innerContentBnr.home button.readmore:after{
  content: "";
  position: absolute;
  width: 68px;
  height: 4px;
  background: #e6bb35;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -13px;
}
.outerInfoCnt{
  width:100%;
  display:inline-block;
  padding:100px 0px 0px;
}
.absolute-content{
  padding:40px;
  width:100%;
  box-sizing: border-box;
}
.absolute-content h2{
  color:#e6bb35;
  font-size:30px;
  font-weight:700;
  text-transform:uppercase;
}
.absolute-content  h1{
  color:#000;
  font-size:40px;
  line-height:50px;
  font-weight:800;
  margin:20px 0px;
  text-transform:uppercase;
}
.absolute-content p{
  color:#000;
  font-weight:600;
  font-size:16px;
}
.absolute-content button.readmore{
  background:none;
  text-transform:uppercase;
  font-weight:600;
  position: relative;
  border:none;
  font-size:20px;
  margin-top:30px;
  color:#000;
}
.absolute-content button.readmore:after{
  content: "";
  position: absolute;
  width: 68px;
  height: 4px;
  background: #e6bb35;
  left: 0;
  right: 0;
  bottom: -13px;
}
.bannerDataTop.homeBg{
  background-image: url(/Assets/pages/bnrHome.png);
  height:895px;
}
.cbt-link-waves {
  height: 200px;
  left: 50%;
  position: absolute;
  top:335px;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 2;
  display:none;
}

.cbt-link-waves .waves {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, .2);
  opacity: 0;
  border-radius: 320px;
  background-clip: padding-box;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  top: 0;
  left: 0
}

.cbt-link-waves .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}

.cbt-link-waves .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

.cbt-link-waves .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}

@keyframes waves {
  0% {
      opacity: 0;
      transform: scale(.2, .2)
  }

  50% {
      opacity: .9
  }

  100% {
      opacity: 0;
      transform: scale(.9, .9)
  }
}

@keyframes waves {
  0% {
      opacity: 0;
      transform: scale(.2, .2)
  }

  50% {
      opacity: .9
  }

  100% {
      opacity: 0;
      transform: scale(.9, .9)
  }
}
.cbt-link-waves .play {
  position: absolute;
  top: 67px;
  left: 69px;
  cursor: pointer;
}
.sliderDataMain.homeInfo{
  margin-bottom:5px;
}
.bannerDataTop.homeBg ul li button:before{
  color:#fff;
}
.submitDataBtn{
  width:100%;
  text-align:center;
  margin:50px 0px 0px;
}
.submitDataBtn button{
  cursor: pointer;
  border:1px solid #e6bb35;
  background:#fff;
  color:#000;
  padding:10px 20px;
  border-radius:3px;
  transition:0.5s ease-in-out;
}
.submitDataBtn button:hover{
  color:#fff;
  background:#e6bb35;
}
@media screen and (max-width:767px) {
  .cbt-link-waves{
    top:230px !important;
  }
  .sliderDataMain.homeInfo{
    padding-bottom: 100px;
  }
  .innerContentBnr.home h1{
    font-weight: 700;
    font-size: 29px;
    line-height: 39px;
  }
  .leftInfoImgData{
    width:100%;
    padding:0px 0px 20px;
  }
  .slideDataInfoBottom{
    display: inline-block;
    padding: 100px 15px;
    box-sizing: border-box;
  }
  .common-btn.style-two.link{
    margin-top:30px;
  }
  .bannerDataTop {
    height: 350px;
    background-position: bottom;
  }
  .innerContentBnr{
    margin-top:155px !important;
  }
}
.leftContent h3{
  text-align:left;
  font-size:24px;
  color:#000;
}
.termsAndConditions{
  width:100%;
  display:inline-block;
  text-align:center;
}
.termsAndConditions p{
  margin:0px;
  font-size:16px;
  text-align:left;
}
.termsAndConditions h4{
  text-align:left;
  margin-top:20px;
}
.termsAndConditions ul li{
  text-align:left;
  margin-bottom:20px;
}
.termsAndConditions.listData ul li{
  list-style:disc;
}
.termsAndConditions.listData table{
  width:100%;
}
.termsAndConditions.listData table tr th{
  text-align:left;
}
.termsAndConditions.listData table tr td, .termsAndConditions.listData table tr th{
  padding:10px;
  border:1px solid #ccc;
  text-align:left;
  vertical-align:top;
}
.formInfoData.cnt p{
  font-size:18px;
  margin:0px 0px;
  text-align:left;
}
.strengthCource{
  width: 100%;
  display: inline-block;
  padding: 40px 0px;
  background: #e9e9e9;
  margin: 70px 0px 0px 0px;
}
.strengthCource h6{
  color:#000;
  font-weight:700;
  font-size:20px;
  margin:0px 0px 15px;
}
.strengthCource ul li{
  list-style:disc;
}
.strengthCource p{
  font-size:14px;
}
@media screen and (max-width:767px) {
  .formInfoData h2{
    font-size: 32px;
    line-height: 40px;
  }
  .formInfoData h3{
    font-size:34px;
  }
  .absolute-content{
    padding: 40px 15px;
  }
  .serviceCard{
    width:100%;
  }
  .emailInfoData{
    display: inline-block;
  }
  .leftDataInfo{
    padding-bottom: 24px;
  }
  .leftDataInfo{
    width:100%;
  }
  .uldataLi ul li{
    width:100%;
  }
  .videoPlayNew img{
      width:100%;
  }
}
.courcseInfoInner img{
  width:100%;
}
.sliderDataMainInner .cbt-link-waves{
  display:block !important;
  top:100px !important;
}
.pastMasterClass{
  width:100%;
  display:inline-block;
  flex-wrap: wrap;
  margin-top:50px;
}
.pastMasterClass h3{
  margin-bottom:50px;
}
.pastMasterClass h4{
  font-size:20px;
  text-align:center;
  margin:20px 0px 0px;
  color:#2bc48a;
}
.courcseInfo.newDesign .cntCourses{
  background-color:#000;
  min-height: 370px;
  padding-bottom: 0;
}
.courcseInfo.newDesign .courcseInfoInner img{
  opacity:0.5;
  max-height:340px;
}
.courcseInfo.newDesign .courcseInfoInner{
  background-color:#000;
}
.courcseInfo.newDesign .cntCourses h2{
  color:#fff;
  font-size:20px;
  font-weight:600;
}
.courcseInfo.newDesign .cntCourses p{
  color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    min-height:146px;
}
.courcseInfo.newDesign .cntCourses .readMoreInfo{
  color:#fff;
}