.centerWrapper{
  max-width:1280px;
  padding:0px 15px;
  box-sizing: border-box;
  margin:0 auto;
}
.outerMainSlider{
  width:100%;
  margin-top:108px;
}
.outerMainSlider img{
  width:100%;
  min-height:250px;
}
@media screen and (max-width:767px){
  .outerMainSlider{
    margin-top:66px;
  }
}