.sliderDataMain{
  width:100%;
  display:inline-block;
  padding:10px;
}
.sliderDataMainInner{
  width:100%;
  display:inline-block;
  background-color:#fff;
  padding:50px;
  box-sizing: border-box;
  box-shadow:0px 0px 10px #ccc;
  text-align:center;
}
.sliderDataMainInner p{
  text-align:center;
  font-weight:600;
  font-size:16px;
  color:#272727;
  line-height:25px;
  min-height:258px;
}
.sliderDataMainInner img{
  display: inline !important;
  margin: 20px 0px;

}
.sliderDataMainInner h5{
  color:#e5c04f;
  font-size:16px;
  margin:0px 0px 5px;
  text-transform:uppercase;
}
.sliderDataMainInner h2{
  color:#000;
  font-weight:600;
  font-size:16px;
}
.slick-dots li button:before {
  font-size:14px !important;
}
.slick-dots li.slick-active button:before{
    color: #e5c04f !important;
  }
  .slick-dots{
    margin-top:30px !important;
    bottom:inherit !important;
  }
  